.vh-50 {
    min-height: 50vh;
}
.nav-light .active {
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
    color: #333 !important;
}
.text-overflow {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
table button {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
/* Статусы */
.status1 {
    background-color: #f5c6cc;
}
.status2 {
    background-color: #b8daff;
}
.status3 {
    background-color: #c3e5ca;
}